html{
	text-decoration-color: grey lighten-3;
	font-weight: 250;

}
/*Tamanho do parallax */
.parallax-container{
	height: 600px;
}
.parallax-title{
	margin-top: 300px;
}
.parallax-text{
	font-weight: 250;
}
.perfil-info{
	height: 250px;
}
.title-Style-fino{
	font-weight: 250;
}